.footer {
    // display: block;
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-container {    
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 1199px) {
        gap: 60px;
        align-items: center;
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: baseline; 
    }
    
}
.footer-first-and-second-column-wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}
.footer-first-column {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 70px;   
    }
    
}

.contact-item--footer:not(:last-child) {
    margin-bottom: 9px;
}

.location {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--accent-white);
}

.contact-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--aimation-active);

    &:hover,
    &:focus {
        color: var(--active-link);
    }
}



.footer-second-column {
    @media screen and (max-width: 1199px) {
        text-align: center;  
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
    
}

.title-footer {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--accent-white);
    margin-bottom: 20px;
}

.footer-sm-list {
    display: flex;
    gap: 10px;
}

.footer-sm-link {
    background: rgba(255, 255, 255, 0.1);
    fill: var(--accent-white);
}

.footer-sm-icon {
    fill: var(--accent-white);
}


.footer-third-column {
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin-right: 12px;
        gap: 12px;
}
    }
    

.footer-folder {
    width: 280px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: var(--accent-white);
    transition: border-color var(--aimation-active);
    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width:480px){
        width: 358px;
    }

    &:focus {
        border-color: var(--active-link);
        outline: none;
        cursor: pointer;
    }
}



.icon-send {
    fill: var(--accent-white);
}

.button-footer {
    padding: 10px 28px;
    display: flex;
    align-items: center;
    gap: 10px;
}