.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-first-column {
    margin-right: 70px;
}

.contact-item:not(:last-child) {
    margin-bottom: 9px;
}

.location {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--accent-white);
}

.contact-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--aimation-active);

    &:hover,
    &:focus {
        color: var(--active-link);
    }
}



.footer-second-column {
    margin-right: 93px;
}

.title-footer {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--accent-white);
    margin-bottom: 20px;
}

.footer-sm-list {
    display: flex;
    gap: 10px;
}

.footer-sm-link {
    background: rgba(255, 255, 255, 0.1);
    fill: var(--accent-white);
}

.footer-sm-icon {
    fill: var(--accent-white);
}

.footer-form {
    display: flex;
    margin-right: 12px;
    gap: 12px;
}

.footer-folder {
    width: 358px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: var(--accent-white);
    transition: border-color var(--aimation-active);

    &:focus {
        border-color: var(--active-link);
        outline: none;
        cursor: pointer;
    }
}



.icon-send {
    fill: var(--accent-white);
}

.button-footer {
    padding: 10px 28px;
    display: flex;
    align-items: center;
    gap: 10px;
}