.page-header {
    border: 1px solid #ECECEC;
@media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;    
}
@media screen and (min-width: 768px) {
    padding-top: 23px;
    padding-bottom: 21px;
}
@media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
}
}

.header-container {
    display: flex;
    align-items: center;
    position: relative;
    @media screen and (max-width: 767px) {
       justify-content: space-between;
    }
}

.mobile-menu-open {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
@media screen and (min-width: 767px) {
    display: none;
}    
}

.page-navigation {
    @media screen and (max-width: 767px) {
        display: none;
    }        
}
.menu {
    display: flex;
    align-items: center;
    
}
.menu-item:not(:last-child) {
    margin-right: 50px;
        
    }
.menu-link  {
        position: relative;
        color: inherit;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
        transition: color var(--aimation-active);
    
        &:hover,
        &:focus {
            color: var(--active-link)
        }
}
.active-page {
        color: var(--active-link);
    
        &::after {
            content: "";
            display: block;
            height: 4px;
            width: 100%;
            position: absolute;
            z-index: 2;
            bottom: -3px;
            border-radius: 2px;
            background-image: url(../images/icons/hover.svg);
            background-color: var(--active-link);
            @media screen and (min-width: 1200px)   {
                bottom: 0;
            }
        }
    }
.link-list {
    margin-left: auto;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: space-between;  
    }
}
.contact-item:first-child {
    @media screen and (max-width: 1199px) {
        margin-bottom: 10px;
        }
}
.contact-link {
        
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--inactive-text);
        
        
        &:hover,
        &:focus {
            color: var(--active-link)
        }
        
       @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
       }     
        
    }

.contact-icon {
            display: inline-block;
            margin-right: 10px;
            // width: 16px;
            // height: 16px;
            fill: currentColor;
        }




// .header-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .page-navigation {
//     display: flex;
//     gap: 93px;
//     align-items: center;
// }

// .menu {
//     display: flex;
// }

// .menu-item:not(:last-child) {
//     margin-right: 50px;
// }

// .menu-link {
//     position: relative;
//     color: inherit;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     padding-bottom: 32px;
//     transition: color var(--aimation-active);

//     &:hover,
//     &:focus {
//         color: var(--active-link)
//     }
// }



// .active-page {
//     color: var(--active-link);

//     &::after {
//         content: "";
//         display: block;
//         height: 4px;
//         width: 100%;
//         position: absolute;
//         z-index: 2;
//         bottom: -1px;
//         border-radius: 2px;
//         background-image: url(../images/icons/hover.svg);
//         background-color: var(--active-link);
//     }
// }



// .link-list {
//     display: flex;
//     gap: 50px;
//     align-items: center;
// }

// .contact-link {
//     display: flex;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--inactive-text);
//     align-items: center;
    
//     &:hover,
//     &:focus {
//         color: var(--active-link)
//     }
// }



// .contact-icon {
//     display: inline-block;
//     margin-right: 10px;
//     width: 16px;
//     height: 16px;
//     fill: currentColor;
// }