.sm-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.sm-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--accent-white);
    transition: background-color var(--aimation-active);

    &:hover,
    &:focus {
        background-color: var(--active-link);
    }
}

.sm-icon {
    fill: var(--inactive-icon);
    transition: fill var(--aimation-active);

    .sm-link:hover &,
    .sm-link:focus & {
        fill: var(--accent-white)
    }
}